{% extends 'website/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Book for an appointment
{% endblock %}

{% block body %}

<div class="container">
    <div class="container px-5 mb-5 c-appoint">
        <h3>Book an appointment</h3>
        {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error_message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form action="{% url 'booking' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.phone_number|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.service|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        {{ form.appt_date|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.details|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 mx-auto">
                    <button type="submit" class="btn btn-outline-success px-3 my-3">Book appointment</button>
                </div>
                <div class="col-4 mx-auto">
                    <a href="#"><button class="btn btn-success px-3 my-3">Message us on WhatsApp</button></a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('#id_appt_date').datetimepicker({
            format: 'Y-m-d H:i',
            step: 5,
            minDate: 0
        });
    });
</script>

</body>
{% endblock %}