{% extends 'website/layout.html' %}
{% load static %}

{% block title %}
  Aesthetic Procedure Details
{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>This page contains all the details of each specific procedure.</h1>
    <div class="card mb-3">
      <img src="{% static 'img/abst (6).jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Procedure Details</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Procedure Details</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
      </div>
      <img src="{% static 'img/abst (4).jpg' %}" class="card-img-bottom" alt="..." />
    </div>
  </div>
  <br /><hr />
{% endblock %}
