{% extends 'website/layout.html' %}
{% load static %}

{% block title %}
  Edit Appointments
{% endblock %}

{% block body %}

<div class="container mx-auto">
    <h3>Edit Appointment</h3>
    <form action="{% url 'edit_appointment' appointment.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'active_appointments' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}