{% extends 'website/layout.html' %}
{% load static %}

{% block title %}
  Best Aesthetics Clinic in Dubai
{% endblock %}

{% block body %}

  <!-- {% if created_message %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Placed appointment!</strong> {{ created_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %} -->

  <div class="container">
    <div class="container-fluid">
      <section>
        <div class="gynelogo">
          <img src="{% static 'img/GYNEiconGOLD.png' %}" class="d-block w-75 mt-5 mx-auto mb-5 " alt="GYNECO LOGO" />
        </div>
        
        <!-- <div class="heroimg">
          <img src="{% static 'img/tour (1).jpg' %}" class="w-100" alt="interior1" />
        </div> -->
      
      </section>
    </div>

    <section id="welcome">  
      <div class="card text-center bg-transparent border-0">
        <div class="mx-auto">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"><i class="bi bi-facebook h3"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="bi bi-whatsapp h3"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="bi bi-instagram h3"></i></a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to GYNECO!</h5>
          <p class="card-text mx-auto" style="width:70ch;">Gyneco Aesthetics Clinic promises more than flawless skin; we promise a journey toward self-love and confidence. Because when you feel beautiful, you radiate beauty. Come, let’s embark on this journey together. Book your consultation today!.</p>
          <a href="{% url 'booking' %}" class="btn btn-outline-secondary">Book an appointment</a>
        </div>
      </div>
    </section>


    <br />
    <hr /><br />
    <section id="testimonials">
      <h3 class="text-center">World Class Service</h3>
      <h6 class="text-center mb-4">Hear from our celebrity clients:</h6>
      <div class="container">
        <div class="card mb-3">
          <div class="row g-0 flex-row-reverse">
            <div class="col-md-4">
              <img src="{% static 'img/treat (5).jpg' %}"class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miss Rose Rosas</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div><div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'img/treat (4).jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miss Tulip Pouter</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div><div class="card mb-3">
          <div class="row g-0 flex-row-reverse">
            <div class="col-md-4">
              <img src="{% static 'img/treat (3).jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miss Carnation Evapor</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div><div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'img/treat (2).jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miss Sun Flower</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div><div class="card mb-3">
          <div class="row g-0  flex-row-reverse">
            <div class="col-md-4">
              <img src="{% static 'img/treat (1).jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Miss Lavender Scent</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    


    <br />
    <hr /><br />
    <section id="majorServices">
      <h3 class="text-center">Major services</h3>
      <div class="container w-75 my-5">
        <div class="card text-bg-dark border-0">
          <img class="Mserv" src="{% static 'img/min (3).jpg' %}" class="card-img" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Rhinoplasty</h5>
            <p class="card-text">
              Description: Rhinoplasty is a surgical procedure to reshape the nose. It can address cosmetic concerns (such as a hump or asymmetry) or functional issues (like breathing difficulties).
              <br />
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small><button type="button" class="btn btn-outline-secondary btn-sm">Click here for more details</button></small></a>
            </p>
          </div>
        </div>
        <div class="card text-bg-dark border-0">
          <img class="Mserv" src="{% static 'img/serv (1).jpg' %}" class="card-img" alt="..." />
          <div class="card-img-overlay text-end">
            <h5 class="card-title">Liposuction</h5>
            <p class="card-text">
              Description: Liposuction is a surgical fat-removal procedure. It targets specific areas (like abdomen, thighs, or love handles) to remove excess fat.
              <br /> 
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small><button type="button" class="btn btn-outline-secondary btn-sm">Click here for more details</button></small></a>
            </p>
          </div>
        </div>
        <div class="card text-bg-dark border-0">
          <img class="Mserv" src="{% static 'img/min (4).jpg' %}" class="card-img" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Botox</h5>
            <p class="card-text">
              Description: Botox (botulinum toxin) injections temporarily relax facial muscles, reducing wrinkles and fine lines.
              <br /> 
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small><button type="button" class="btn btn-outline-secondary btn-sm">Click here for more details</button></small></a>
            </p>
          </div>
        </div>
        <div class="card text-bg-dark border-0">
          <img class="Mserv" src="{% static 'img/serv (5).jpg' %}" class="card-img" alt="..." />
          <div class="card-img-overlay text-end">
            <h5 class="card-title">Dermal Fillers</h5>
            <p class="card-text">
              Description: Botox (botulinum toxin) injections temporarily relax facial muscles, reducing wrinkles and fine lines.
              <br /> 
            <p class="card-text">
              <a href="{% url 'details' %}"><small><button type="button" class="btn btn-outline-secondary btn-sm">Click here for more details</button></small></a>
            </p>
          </div>
        </div>
        <div class="card text-bg-dark border-0">
          <img class="Mserv" src="{% static 'img/min (5).jpg' %}" class="card-img" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Chemical Peels</h5>
            <p class="card-text">
              Description: Chemical peels involve applying a chemical solution to the skin to exfoliate and improve texture.
              <br /> 
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small><button type="button" class="btn btn-outline-secondary btn-sm">Click here for more details</button></small></a>
            </p>
          </div>
        </div>
      </div>
    </section>

    

    <br />
    <hr /><br />
    <section id="minorServices">
      <h3 class="text-center">Minor services</h3>
      <div class="row card-group p-0 my-5 d-flex justify-content-center">
        <div class="col-6 card rounded-3 border-0">
          <img src="{% static 'img/serv (1).jpg' %}" class="card-img-top rounded-3" alt="..." />
          <div class="card-body text-center">
            <h5 class="card-title fs-6">Laser Hair Removal</h5>
            <p class="card-text text-truncate">
              Laser energy targets hair follicles, inhibiting hair growth.
              <br /> Achieve long-lasting hair reduction
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small class="text-body-secondary"><button type="button" class="btn btn-outline-secondary">More details</button></small></a>
            </p>
          </div>
        </div>
        <div class="col-6 card border-0">
          <img src="{% static 'img/serv (2).jpg' %}" class="card-img-top rounded-3" alt="..." />
          <div class="card-body text-center">
            <h5 class="card-title fs-6">Microdermabrasion</h5>
            <p class="card-text text-truncate c-cardtext">
              A non-invasive exfoliation technique using tiny crystals to remove dead skin cells.
              <br /> Improve skin texture and tone.
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small class="text-body-secondary"><button type="button" class="btn btn-outline-secondary">More details</button></small></a>
            </p>
          </div>
        </div>
        <div class="col-6 card border-0">
          <img src="{% static 'img/serv (3).jpg' %}" class="card-img-top rounded-3" alt="..." />
          <div class="card-body text-center">
            <h5 class="card-title fs-6">Facelift (Rhytidectomy)</h5>
            <p class="card-text text-truncate">
              A surgical procedure to lift and tighten sagging facial tissues.
              <br /> Address significant signs of aging, such as jowls and loose skin.
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small class="text-body-secondary"><button type="button" class="btn btn-outline-secondary">More details</button></small></a>
            </p>
          </div>
        </div>
        <div class="col-6 card border-0">
          <img src="{% static 'img/serv (4).jpg' %}" class="card-img-top rounded-3" alt="..." />
          <div class="card-body text-center">
            <h5 class="card-title fs-6">Laser Skin Resurfacing</h5>
            <p class="card-text text-truncate">
              Laser energy removes damaged skin layers, stimulating collagen production.
              <br /> Reduce wrinkles, scars, and sun damage..
            </p>
            <p class="card-text">
              <a href="{% url 'details' %}"><small class="text-body-secondary"><button type="button" class="btn btn-outline-secondary">More details</button></small></a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <br />
    <hr />
    <section id="staff">
      <div class="card-group">
        <h3 class="mx-auto">Our Professionals</h3>
        <div class="row my-5">
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (1).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (2).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD.</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (3).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Profesional Tambay.</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (4).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (5).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD.</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (6).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Profesional Tambay.</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>

          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (7).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 p-lg-4">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (8).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Kwak kwak</h5>
                <p class="card-text">Position/ PhD.</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mx-auto">
            <div class="card border-0">
              <a href="{% url 'staffs' %}"><img src="{% static 'img/av (9).jpg' %}" class="card-img-top" alt="..." /></a>
              <div class="card-body">
                <h5 class="card-title">Dr. Boss Pogi</h5>
                <p class="card-text">FOUNDER</p>
              </div>
              <a href="{% url 'booking' %}"><div class="card-footer">Book</div></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="googlereview">
      <div class="container">
        <h3 class="text-center my-3">What people say about us:</h3>
        <div class="row">
          <div class="col-10 offset-1 rounded-5 c-review">
            <section id="reviews">
              <div class="container">
                  <div class='sk-ww-google-reviews' data-embed-id='25438330'></div><script src='https://widgets.sociablekit.com/google-reviews/widget.js' async defer></script>
              </div>
          </section>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
